
<html>

    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Home Page - my task</title>
        {% endif %}
    </head>
	   <body bgcolor="#808080">
	        {% with messages = get_flashed_messages() %}
		    {% if messages %}
		    <ul>
				{% for message in messages %}
			    <li>{{ message }}</li>
          <li>tmkc</li>
			    {% endfor %}
		    </ul>
			{% endif %}
		    {% endwith %}

		    {% block content %}
            {% endblock %}
	    </body>
</html>
