{% include "navbar.html" %}

<style media="screen">

  body
  {
  /* The image used */
  background-image: url(https://images.pexels.com/photos/712786/pexels-photo-712786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

  h1{
    color: white;
  }

  p{
    color: white;
  }

  li{
    color: white
  }

  a.button {
    background-color: #008CBA;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    padding: 8px 8px;}


</style>

<br><br><br><br><br>
<center><h1>{{na}} category</h1>

{% for c in cates %}
<div>
    <p style="margin-left:25px">
        <h3 style="color: white"><i><b>{{ c.name}}</b></i>
            <a style="margin-left:20px" href="/delete/{{c.name}}" class="button" onclick="return confirm('Are you sure you want to delete this task?');">    delete</a>
        </h3>
    </p>
</div>
{% endfor %}</center>
