{% include "navbar.html" %}

<style media="screen">

  body
  {
  /* The image used */
  background-image: url(https://images.pexels.com/photos/712786/pexels-photo-712786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

  h1{
    color: white;
  }

  p{
    color: white;
  }

  li{
    color: white
  }



</style>


       <h1>Edit Task: {{name}}</h1>

       <form action="" method="post" novalidate>
               {{ form.hidden_tag() }}

               <p>
                   {{ form.rename.label }}<br>
                   {{ form.rename(size=32) }}
               </p>
               <p>
                   {{ form.changeCategory.label }}<br>
                   {{ form.changeCategory(size=32) }}
               </p>



               <p class="button">{{ form.edit() }}</p>
      </form>
      
