{% include "navbar.html" %}
<style media="screen">

  body
  {
  /* The image used */
  background-image: url(https://images.pexels.com/photos/712786/pexels-photo-712786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

  h1{
    color: white;
  }

  p{
    color: white;
  }

  li{
    color: white
  }
  button
  {
    background-color: #008CBA;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    padding: 8px 8px;
  }

  table, th, td {
          border: 1px solid black;}
        table, th, td {text-align: center;}  
  
   table, th, td {
    color: white;
    padding: 1px;
    
  }

  p, table,th,td,tr {text-align: center;}
  div {text-align: center;}
      
</style>


    <br><br><br>
    <h1>Inbox</h1>
    <br>
    <div>
    <a href="{{ url_for('inbox') }}"><button>REFRESH</button></a>
    </div>
    <br>

    {{ form.item(size=32) }}
    {{ form.filter() }}
</p>

  <table>
    <tr>
        <th>Task</th>
        <th>Date</th>
    </tr>
        {% for l in lists %}
            <tr>
                <td>{{l.name}}</td>
                <td>{{l.date}}</td>
            </tr>
          {% endfor %}    
    </table>
