
{% include "navbar.html" %}

<h1>Tasks Page!</h1>

<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.list.label }}<br>
            {{ form.list(size=32) }}
        </p>

        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=32) }}
        </p>

        <p>{{ form.add() }}</p>
<br>

        {% for l in lists %}
        <div>
            <p>
              <!-- <a class="nav-link" href= "/task"> {{ l }} <a> -->
              {{l}}- Category: {{l.category}}
            </p>
        </div>
        {% endfor %}
</form>
