{% include "navbar.html" %}
<style media="screen">

  body
  {
  /* The image used */
  background-image: url(https://images.pexels.com/photos/3367931/pexels-photo-3367931.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

  h1{
    color: white;
  }

  p{
    color: white;
  }

  li{
    color: white
  }
  ul
  {
    color: white
  }

</style>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<br>
<br>
<br>
<br>
<br>
    <h1 style="color: white; text-align: center">Register</h1>
    <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p style="color: white; text-align: center; margin-left: -14%">
            {{ form.username.label }}</p>
        <p style="color: white; text-align: center">
            {{ form.username(size=32) }}
        </p>
        <p style="color: white; text-align: center; margin-left: -14%">
            {{ form.password.label }}</p>
        <p style="color: white; text-align: center;">
            {{ form.password(size=32) }}
        </p>

        <p style="color: white; text-align: center">{{ form.register() }}</p>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="color: white; text-align: center">
        {% for message in messages %}
          <h5 style = "color: red">{{ message }}</h5>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
